* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* ......banner section..... */
.banner-section {
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner/banner2.png);
    margin-bottom: 90px;
}

.banner-content {
    text-align: right;
    padding-top: 200px;
    padding-right: 150px;
}

.banner-head {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 30px;
}

.banner-btn {
    margin-top: 25px;
    padding: 15px 25px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 4px;
}

/*..... failures section....... */
.failures-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 1180px;
    height: 725px;
    margin: auto;


}

.my-photo {
    width: 50%;
    height: fit-content;
}

.my-failures {
    width: 50%;
    padding-left: 90px;
}

.failures-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
    color: #151414;
}

.failures-description {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #444343;
}

.failures-list {
    color: #444343;
}



/* my plans section... */
.my-plans-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 90px;

}


.plans-heading {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 55px;
    font-weight: 700px;
    font-size: 50px;
    color: #151414;
}

.plan-title {
    text-align: center;
    font-weight: 700px;
    font-size: 24px;
    color: #151414;
}

.plan-description {
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
}