* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* ........banner section........ */
.banner-section {
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner/banner2.png);
    margin-bottom: 90px;
}

.banner-content {
    text-align: right;
    padding-top: 200px;
    padding-right: 150px;
}

.banner-head {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 30px;
}

.banner-btn {
    margin-top: 25px;
    padding: 15px 25px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 4px;
}

/*........ failures section......... */
.failures-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 1180px;
    height: 725px;
    margin: auto;

}

.my-photo {
    width: 50%;
    height: fit-content;
}

.my-failures {
    width: 50%;
    padding-left: 90px;
}

.failures-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
    color: #151414;
}

.failures-description {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #444343;
}

.failures-list {
    color: #444343;
}

/* ........my plans section........ */
.my-plans-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 90px;

}


.plans-heading {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 55px;
    font-weight: 700px;
    font-size: 50px;
    color: #151414;
}

.plan-title {
    text-align: center;
    font-weight: 700px;
    font-size: 24px;
    color: #151414;
}

.plan-description {
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
}

/* .....mindset section styles...... */
.mindset-section {
    background-image: linear-gradient(90deg, #F15b22 0%, rgba(241, 91, 34, 0) 100%);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    border-radius: 8px;
    width: 70%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-bottom: 40px;
    margin-left: 230px;
}

.title-and-btn {
    padding: 40px;
    margin: 10px;
}

#mindset-title {
    font-weight: 400px;
    font-size: 30px;
    color: white;
    margin-bottom: 15px;
}

#mindset-btn,
#submit-btn {
    margin-top: 5px;
    padding: 15px 25px;
    color: orangered;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

/* .....team work section styles.... */

.team-work {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.team-work img {
    margin: 20px;
    width: 50%;

}

.team-work-description {
    width: 50%;
    margin-right: 200px;
    background-color: rgb(236, 225, 225);
    border-left-style: groove;
    border-color: skyblue;
    box-shadow: 0, 0, 0, 20px;
    border-radius: 10px;

}

.team-heading {
    padding: 20px;
}

/* .......footer section styles.......... */
footer {
    display: flex;
    background-color: black;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;

}

.footer-information {
    width: 50%;
}

#footer-heading {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-description {
    color: rgba(245, 245, 245, 0.829);
    font-weight: 400;
    font-size: 12px;

}

#footer-icons {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.user-data {
    color: whitesmoke;

}

#sub-option {
    font-weight: 300px;
    font-size: 16px;
    margin-bottom: 30px;
}

#mail-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 55px 10px 2px;
    color: grey;
    background-color: rgb(11, 11, 11);
    border-radius: 5px;
    font-weight: medium;
    border-color: #262525;
}